/* Navigation Dashboard */
.brand-text {
    font-size: 10px;
}
/* Footer Dashboard */
.pad-lft {
    text-align: right;
    padding-right: 20px;
}
.navbar-content {
    background: linear-gradient(90deg, #05032D 12.29%, #27257C 100%);
}
.navbar-header::before {
    background-color: #04032D;
}
.nano-content {
    background: linear-gradient(189.53deg, #04032D 32.86%, #2A2884 97.65%);
    color: #fff;
}
.mainnav-profile .profile-wrap, #mainnav .mainnav-profile .list-group, #mainnav-menu>.active {
    background-color: transparent;
}
.mainnav-profile .mnp-name, .mainnav-profile .mnp-desc, #mainnav .list-header, #mainnav .mainnav-profile .list-group-item {
    color: #fff;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover {
    color: black;
    background-color: pink;
}
#mainnav-menu li a:hover {
    background-color: #25476a;
    color: #fff;
    margin: 0 5px;
    padding-right: 13px;
    border-radius: 3px;
}
#mainnav .mainnav-profile .list-group-item:hover {
    background-color: #25476a;
    color: #fff;
    margin: 0 5px;
    padding-right: 13px;
    border-radius: 3px;
}
#mainnav-menu .active:not(.active-sub)>a {
    background-color: #1861ac;
    color: #fff;
    margin: 0 5px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 3px;
}

.img-border {
    box-shadow: 0 0 0 4px rgb(255 255 255);
}

/* Content */
#page-head {
    background: linear-gradient(90deg, #05032D 12.29%, #27257C 100%);
}
#content-container:before {
    background-color: transparent;
}

.panel-body {
    padding: 35px 20px 25px;
}

.panel-primary .panel-heading, .panel-primary .panel-footer {
    background: linear-gradient(90deg, #05032D 12.29%, #27257C 100%);
}

/* Update Profile */
.image_area {
    position: relative;
}
.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}
.modal-lg{
    max-width: 1000px !important;
}
#overlay-img {
    position: relative;
}
#overlay-img:hover .overlay{
    height: 100%;
    cursor: pointer;
}
.overlay {
    position: absolute;
    bottom: 0.1px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0;
    transition: .5s ease;
    width: 100%;
    border-radius: 50%;
}
.text_change {
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.panel-brown{
    color: white;
    background-color: #cd7f32;
}
.panel-secondary{
    color: white;
    background-color: #C0C0C0; 
}